In [ ]:
def find_sentiment(sentence, pos, neg):
    sentence = sentence.split()
    sentence = set(sentence)
    num_common_pos = len(sentence.intersection(pos))
    num_common_neg = len(sentence.intersection(neg))
    if num_common_pos > num_common_neg:
        return 'positive'
    elif num_common_neg > num_common_pos:
        return 'negitive'
    else:
        return 'neutral'

In [ ]:
x = 'Hi, how are you?'.split()

In [ ]:
x

In [4]:
from nltk.tokenize import word_tokenize
y = word_tokenize('Hi, how are you?')

In [5]:
y

['Hi', ',', 'how', 'are', 'you', '?']

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
corpus = [
    "hello, how are you?",
    "im getting bored at home. And you? What do you think?",
    "did you know about counts",
    "let's see if this works!",
    "YES!!!!"
]

ctv = CountVectorizer()
ctv.fit(corpus)
corpus_transformed = ctv.transform(corpus)

In [7]:
corpus

['hello, how are you?',
 'im getting bored at home. And you? What do you think?',
 'did you know about counts',
 "let's see if this works!",
 'YES!!!!']

In [8]:
print(corpus_transformed)

  (0, 2)	1
  (0, 9)	1
  (0, 11)	1
  (0, 22)	1
  (1, 1)	1
  (1, 3)	1
  (1, 4)	1
  (1, 7)	1
  (1, 8)	1
  (1, 10)	1
  (1, 13)	1
  (1, 17)	1
  (1, 19)	1
  (1, 22)	2
  (2, 0)	1
  (2, 5)	1
  (2, 6)	1
  (2, 14)	1
  (2, 22)	1
  (3, 12)	1
  (3, 15)	1
  (3, 16)	1
  (3, 18)	1
  (3, 20)	1
  (4, 21)	1

In [9]:
print(ctv.vocabulary_)

{'hello': 9, 'how': 11, 'are': 2, 'you': 22, 'im': 13, 'getting': 8, 'bored': 4, 'at': 3, 'home': 10, 'and': 1, 'what': 19, 'do': 7, 'think': 17, 'did': 6, 'know': 14, 'about': 0, 'counts': 5, 'let': 15, 'see': 16, 'if': 12, 'this': 18, 'works': 20, 'yes': 21}

In [10]:
ctv2 = CountVectorizer(tokenizer=word_tokenize, token_pattern=None)
ctv2.fit(corpus)

corpus_transformed2 = ctv2.transform(corpus)
print(ctv2.vocabulary_)

{'hello': 14, ',': 2, 'how': 16, 'are': 7, 'you': 27, '?': 4, 'im': 18, 'getting': 13, 'bored': 9, 'at': 8, 'home': 15, '.': 3, 'and': 6, 'what': 24, 'do': 12, 'think': 22, 'did': 11, 'know': 19, 'about': 5, 'counts': 10, 'let': 20, "'s": 1, 'see': 21, 'if': 17, 'this': 23, 'works': 25, '!': 0, 'yes': 26}

In [11]:
import pandas as pd
df = pd.read_csv('IMDB Dataset.csv')
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [12]:
df.columns

Index(['review', 'sentiment'], dtype='object')

In [13]:
df['sentiment'] = df.sentiment.apply(
    lambda x: 1 if x == 'positive' else 0
)

In [14]:
df.head()

                                              review  sentiment
0  One of the other reviewers has mentioned that ...          1
1  A wonderful little production. <br /><br />The...          1
2  I thought this was a wonderful way to spend ti...          1
3  Basically there's a family where a little boy ...          0
4  Petter Mattei's "Love in the Time of Money" is...          1

In [15]:
df['kfold'] = -1

In [16]:
df

                                                  review  sentiment  kfold
0      One of the other reviewers has mentioned that ...          1     -1
1      A wonderful little production. <br /><br />The...          1     -1
2      I thought this was a wonderful way to spend ti...          1     -1
3      Basically there's a family where a little boy ...          0     -1
4      Petter Mattei's "Love in the Time of Money" is...          1     -1
...                                                  ...        ...    ...
49995  I thought this movie did a down right good job...          1     -1
49996  Bad plot, bad dialogue, bad acting, idiotic di...          0     -1
49997  I am a Catholic taught in parochial elementary...          0     -1
49998  I'm going to have to disagree with the previou...          0     -1
49999  No one expects the Star Trek movies to be high...          0     -1

[50000 rows x 3 columns]

In [17]:
df['kfold'].value_counts()

-1    50000
Name: kfold, dtype: int64

In [18]:
df = df.sample(frac=1).reset_index(drop=True)

In [19]:
df

                                                  review  sentiment  kfold
0      Son of the Mask is a terrible movie. I don't l...          0     -1
1      'Wicked Little Things' really separates itself...          1     -1
2      The film quickly gets to a major chase scene w...          0     -1
3      **Warning! Spoilers Ahead!**<br /><br />This s...          1     -1
4      This is one of L&H's shorts most frequently ci...          1     -1
...                                                  ...        ...    ...
49995  This movie is very scary with scenes where the...          0     -1
49996  I love horses and admire hand drawn animation,...          1     -1
49997  Although THE FLOCK has some pretty good acting...          0     -1
49998  Ya know when one looks at this Brian DePalma f...          1     -1
49999  This is my favorite horror film, a close 2nd t...          1     -1

[50000 rows x 3 columns]

In [20]:
y = df.sentiment.values

In [21]:
y

array([0, 1, 0, ..., 0, 1, 1], dtype=int64)

In [22]:
from sklearn import (model_selection, linear_model, metrics)
from sklearn.feature_extraction.text import CountVectorizer

In [23]:
kf = model_selection.StratifiedKFold(n_splits=5)

In [24]:
for f, (t_, v_) in enumerate(kf.split(X=df, y=y)):
    print(t_)
    df.loc[t_, 'kfold'] = f

[ 9995  9996 10002 ... 49997 49998 49999]
[    0     1     2 ... 49997 49998 49999]
[    0     1     2 ... 49997 49998 49999]
[    0     1     2 ... 49997 49998 49999]
[    0     1     2 ... 40051 40053 40055]

In [25]:
df

                                                  review  sentiment  kfold
0      Son of the Mask is a terrible movie. I don't l...          0      4
1      'Wicked Little Things' really separates itself...          1      4
2      The film quickly gets to a major chase scene w...          0      4
3      **Warning! Spoilers Ahead!**<br /><br />This s...          1      4
4      This is one of L&H's shorts most frequently ci...          1      4
...                                                  ...        ...    ...
49995  This movie is very scary with scenes where the...          0      3
49996  I love horses and admire hand drawn animation,...          1      3
49997  Although THE FLOCK has some pretty good acting...          0      3
49998  Ya know when one looks at this Brian DePalma f...          1      3
49999  This is my favorite horror film, a close 2nd t...          1      3

[50000 rows x 3 columns]

In [26]:
for fold_ in range(5):
    train_df = df[df.kfold != fold_].reset_index(drop=True)
    test_df = df[df.kfold == fold_].reset_index(drop=True)

In [27]:
train_df

                                                 review  sentiment  kfold
0     Very shortly: a bad film. If you are looking f...          0      3
1     This film infuriated me for the simple fact th...          0      3
2     The first 30 minutes of Tinseltown had my fing...          0      3
3     A team of amateur journalists and tree-huggers...          0      3
4     ItÂ´s long time that I and my wife didnÂ´t see s...          0      3
...                                                 ...        ...    ...
9995  This movie is very scary with scenes where the...          0      3
9996  I love horses and admire hand drawn animation,...          1      3
9997  Although THE FLOCK has some pretty good acting...          0      3
9998  Ya know when one looks at this Brian DePalma f...          1      3
9999  This is my favorite horror film, a close 2nd t...          1      3

[10000 rows x 3 columns]

In [28]:
count_vec = CountVectorizer(
    tokenizer = word_tokenize,
    token_pattern=None
)

In [29]:
count_vec.fit(train_df.review)

CountVectorizer(token_pattern=None,
                tokenizer=<function word_tokenize at 0x000002404E7ABAC0>)

In [30]:
xtrain = count_vec.transform(train_df.review)
xtest = count_vec.transform(test_df.review)

In [31]:
model = linear_model.LogisticRegression()
model.fit(xtrain,train_df.sentiment)
preds = model.predict(xtest)

C:\Users\DTE-LAPC-128-21\AppData\Roaming\Python\Python310\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [32]:
accuracy = metrics.accuracy_score(test_df.sentiment, preds)

In [33]:
print(f"Fold: {fold_}")
print(f"Accuracy =  {accuracy}")
print("")

Fold: 4
Accuracy =  0.87005